<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <title>Home Page</title>
    </head>
    <body>
        <%- include("./navbar")%>
        <br/>
        <!-- Body -->
        <div class="container py-5">
            <h2 class="text-center py-2"><b>My Courses</b></h2>
        </div>
        <div class="album">
            <div class="container mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% data.forEach(el => {%>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/assets/content/javascript.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
                                <div class="card-body">
                                    <a href="/show-content/<%= el.id%>" style="text-decoration: none; color: black;"><p style="font-size: 22px;"><b><%= el.name%></b></p></a>
                                    <div class="d-flex justify-content-between align-items-center mt-4">
                                        <small class="text-muted"><i class="fas fa-sm fa-user"></i> OnLearn Team</small>
                                        <a href="/lesson/<%= el.id%>" class="btn btn-sm btn-primary">START</a>
                                        <a href="/finish/<%= el.id%>" class="btn btn-sm btn-danger">FINISH</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% })%>
                </div>
            </div>
        </div>
        <footer class="text-muted py-4 bg-white">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration: none; color: black;"><i class="fas fa-sm fa-arrow-up"></i> <b>Back to top</b></a>
                </p>
                <p class="mb-1">OnlineLearning.Com &copy; Copyright 2021.</p>
            </div>
        </footer>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
